<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .chatbox {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin-left: 550px;
    margin-right: 300px;
    margin-top: 250px;
    margin-bottom: 200px;
    font-size: x-large;
    background-color: rgb(158, 205, 255);
}

.chatbox h1 {
    margin-top: 10px;
    font-size: 34px;
    margin-bottom: 25px;
}

.chatbox .card {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.chatbox .card:hover {
    background-color: #ddd;
}
    </style>
</head>
<body>
        <div class="chatbox">
            <h1>Mini Chatbox</h1>
            <a href="http://localhost:8080/chats" class="card">Show all chats</a>
            <a href="http://localhost:8080/chats/new" class="card">Create new chat</a>
        </div>  
</body>
</html>